/* mobile version */

body{
    height: 800px;
    background-color: #835C3B;
    font-family: Arial, cursive;
}

header{
    text-align: center;
    
}

.project__nav{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: #151B54;
    margin: 5px;
    padding: 5px;
    background-color: white;
    
}

a{ 
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    text-align: center;
}

h2{
    color: #800000;
    border: thick double black;
    border-radius: 10px 5px 5px 10px;
    border-color: #151B54;
    background-color: white;
    height: 50px;
    font-family: Arial, sans-serif;
    padding-top: 25px;
}

.project__imageflottante{
    float: left;
}

.singe, .tigre, .chat, .cheval{
    width: 16%;
}

h3{
    color: #800000;
    border: thick double black;
    border-color: #151B54;
    background-color: white;
    height: 50px;
    padding-top: 25px;
}

.project__article{
    height: 500px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 3px 3px 0px purple;
}

.project__articleh{
    height: 315px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 5px 5px 0px purple;
}

.container-modifier{
    display: block;
}

.project__chara{
    text-align: center;
    text-decoration: underline;
}
.project__articlep{
    display: block;
    height: 450px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 5px 5px 0px purple;
}

.project__aside{
    height: 300px;
    margin: 5px;
    padding: 5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 2px 2px 0px purple;
}

.project__reseaux{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: #151B54;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.project__form{
    padding: 10px;
    margin: 10px;
}

.contact__body{
    background-color: #FFFFC2;
}

.pseudo, .mail, .message{
    padding: 20px;
    margin: 25px;
    text-align: center;
}

.envoie{
    text-align: center;
    margin-left: 110px;
}


footer{
    height: 300px;
}

.fab{
    display: flex;
}

.fa-instagram, .fa-twitter{
    justify-content: space-between;
    flex-direction: row;
}


