/* mobile version */

body{
    height: 800px;
    width: 360px;
    background-color: #835C3B;
    font-family: Arial, cursive;
}

.project{
    width: 100%;
}

header{
    text-align: center;
    
}

.project__nav{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: #151B54;
    margin: 5px;
    padding: 5px;
    background-color: white;
    
}

a{ 
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    text-align: center;
}

h2{
    color: #800000;
    border: thick double black;
    border-radius: 10px 5px 5px 10px;
    border-color: #151B54;
    background-color: white;
    height: 50px;
    font-family: Arial, sans-serif;
    padding-top: 25px;
}

.project__imageflottante{
    float: left;
}

.singe, .tigre, .chat, .cheval{
    width: 16%;
}

h3{
    color: #800000;
    border: thick double black;
    border-color: #151B54;
    background-color: white;
    height: 50px;
    padding-top: 25px;
}

.project__article{
    height: 500px;
    width: 190px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 3px 3px 0px purple;
}

.project__articleh{
    height: 315px;
    width: 335px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 5px 5px 0px purple;
}

.container-modifier{
    display: block;
}

.project__chara{
    text-align: center;
    text-decoration: underline;
}
.project__articlep{
    display: block;
    height: 450px;
    width: 335px;
    margin: 2px;
    padding: 3px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 5px 5px 0px purple;
}

.project__aside{
    height: 300px;
    width: 130px;
    margin: 5px;
    padding: 5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-color: #151B54;
    background-color: #FFFFC2;
    box-shadow: 2px 2px 0px purple;
}

.project__reseaux{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-color: #151B54;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.project__form{
    padding: 10px;
    margin: 10px;
}

.contact__body{
    background-color: #FFFFC2;
}

.pseudo, .mail, .message{
    padding: 20px;
    margin: 25px;
    text-align: center;
}

.envoie{
    text-align: center;
    margin-left: 110px;
}


footer{
    height: 300px;
}

.fab{
    display: flex;
}

.fa-instagram, .fa-twitter{
    justify-content: space-between;
    flex-direction: row;
}

/* tablette version */

@media screen and (min-width:400px) and (max-width:800px) {

    .project{
        width: 150%;
        margin: 5%;
    }

    header{
        width: 150%;
    }

    .project__nav{
        width: 150%;
     
    }

    .container{
        width: 150%;
    }

    .project__article{
        width: 150%;
    }

    .project__articleh{
        width: 150%;
    }

    .project__articlep{
        width: 150%;
    }

    .project__aside{
        width: 150%;
    }

    .project__reseaux{
        width: 100%;
    }

    
    .contact__body{
       width: 150%;
    }

    footer{
        width: 150%;
    }

    .fa-instagram, .fa-twitter{
        width: 100%;
    }
}

/* computer version */

@media screen and (min-width:800px){
    .project{
        width: 185%;
        margin: 20%;
    }

    header{
        width: 200%;
    
    }

    
    .project__nav{
        width: 185%;
    }

    .container{
        width: 185%;
    }
    
    .project__article{
        width: 200%;
    }

    .project__articleh{
        width: 185%;
    }

    .project__articlep{
        width: 185%;
    }

    .project__aside{
        width: 185%;
        margin-left: 5%;
    }

    .project__reseaux{
        width: 142%;
    }

    
    .contact__body{
        width: 185%;
    }

    footer{
        width: 130%;
    }

    .fa-instagram, .fa-twitter{
        width: 142%;
    }
}




